.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  margin-bottom: 20px;
  border: solid 1px #cbced2;
  border-radius: 8px;
  height: 200px;
  padding: 20px;
}

.card-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  margin-bottom: 20px;
  border: solid 1px #cbced2;
  border-radius: 8px;
  height: 200px;
  padding: 20px;
}

.card-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  margin-bottom: 20px;
  border: solid 1px #cbced2;
  border-radius: 8px;
  height: 200px;
  padding: 20px;
}

.head {
  color: #326a9d;
  font-family: 'Roboto';
}
.para {
  color: #64748b;
  font-family: 'Roboto';
}

.button {
  background-color: #ffffff;
  border: solid 2px #326a9d;
  color: #326a9d;
  padding: 10px;
  border-radius: 5px;
}
/* Write your code here. */
